
.editor-clr {
    color: #fff;
}

.editor-cls {
    width: 100%;
    height: 200px;
    font-size: 14px;
    line-height: 18px;
    border: 1px solid #dddddd;
    padding: 10px;
}

.pd-15 {
    padding: 0 15px;

}

/*summer note */
.note-editor{
    padding-left:1px;
}
.note-editable{
    height:300px;
    width:100%;

}
.note-toolbar.panel-heading{
    background-color:#f5f5f5 !important;
}